.tl_date {
    
    color : rgb(245,125,50);
    font-size : 50px;
    
}

.tl_flavor {
    
    color : rgb(0,0,0);
    
    
}

.source_num {
    
    color : rgb(165,63,91);
    font-size : 15px;
    
}
